body{
    background-color: #212129;
    display: flex;
    justify-content: center;
    margin-top: 85px;
}
.form{
    height: 500px;
    width: 500px;
    background-color: #323949;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
}
h1{
    color: white;
    margin: 10px;
}
.attrAlignment{
    margin: 15px;
    border: 1px solid white;
    border-radius: 3px;
    height: 1.5rem;
}
.attrAlignment:hover{
    background-color: #212129;
    color: white;
}
h2{
    margin-top: 20px;
    text-align: center;
    color: white;
    margin: 10px;
}
.videoCallPage{
    text-align: center;
}
.videocallbtn{
    margin-bottom: 15px;
}